<div class="container">
  <div class="row">
    <div class="col-md-12">
      <% flash.each do |key, msg| %>
        <div class="text-center alert alert-dismissible alert-<%= key %>" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <%= msg %>
        </div>
      <% end %>

      <%= yield %>
    </div>
  </div>
</div>
